*
{
    padding: 0px;
    margin:  0px;
    
}
body
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/bg1.jpeg');
    background-repeat: 1;
    background-size: cover;

}
ul
{
    float: right;
    margin-top: 15px;
    list-style: none;
}
ul li
{
    display: inline-block;

}
ul li a
{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    margin-left: 10px;
}
ul li a:hover
{
    background-color: white;
    color: black;
}
.title
{
    font-size: 100px;
    color: yellow;
    position: absolute;
    top: 35%;
    left: 28%;
    opacity: 0.9;
    font-family: cooper;
}
.button
{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50px,-50px);

}
.btn
{
    border: 1px solid #fff;
    padding: 10px 30px;
    text-decoration-color: none;
    background-color: inherit;
    color: white;
}
.btn:hover
{
    background-color: white;
    color:black;

}
.visit
{
    color: white;
    position: absolute;
    top:80%;
    left: 42%;
    font-size: 30px;
}
a i
{
    text-decoration: none;
    color: white;   
}
form
{
    display: inline-block;
}
.facebook:hover
{
    color: blue;
}
.instagram:hover
{
    color: hotpink;
}
.twitter:hover
{
    color: deepskyblue;
}
